@import "../../node_modules/bootstrap/scss/functions.scss";
  
  $white:    #fff;
  $gray-100: #f8f9fa;
  $gray-200: #e9ecef;
  $gray-300: #dee2e6;
  $gray-400: #ced4da;
  $gray-500: #adb5bd;
  $gray-600: #6c757d;
  $gray-700: #495057;
  $gray-800: #343a40;
  $gray-900: #212529;
  $black:    #000;

  $blue:    #4FAAFF;
  
  $primary:       $blue;
  $secondary:     $gray-600;
  $light:         $gray-100;
  $dark:          $gray-900;

  
  $border-width:                0px;
  $table-border-width:          $border-width;
  $border-radius:               1.25rem;

  // VERTICAL CAROUSEL SLIDER
.carousel-inner .carousel-item-next.carousel-item-left,
.carousel-inner .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
}

.carousel-inner .carousel-item-next,
.carousel-inner .active.carousel-item-right {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
}

.carousel-inner .carousel-item-prev,
.carousel-inner .active.carousel-item-left {
-webkit-transform: translate(-100%, -100%);
        transform: translate(-100%, -100%);
}


// BOOTSTRAP FILES 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/mixins.scss";
  @import "../../node_modules/bootstrap/scss/variables.scss";
  