$spacer: 85px;

$shadow: linear-gradient(180deg,
rgba(255, 255, 255, 0)0%
rgb(255, 255, 255, 1)100%);

$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-900: #212529;
$white:    #fff;
$black: #000;




  















/* 
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 4,
  ); 
$grid-gutter-width: 4.35rem;
$gutters: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    );
    $gutters: $spacers;
    $grid-row-columns: 6; */