@use "custom";
@import "../scss/variables";
@import "../scss/functions";

// LOADER 
.loader {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    overflow: hidden;
    display: block;
}
.icon-load {
    width: 70px;
    height: 70px;
    border: 10px solid #333;
    border-top-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    @include keyframes(loader) {
        100% {
            transform: rotate(360deg);
        }
    }
    @include spin (loader, .7s, infinite, linear)
}
// NAVBAR SECTION
.carousel {
    .carousel-inner img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        
        .carousel-item {
            width: 50%;
            height: 1100px;
        }
    }
    .carousel-indicators {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        button {
            border-radius: 50%;
            width: 18px;
            height: 18px;
        }
    }
}

.navbar {
    z-index: 100;

    .navbar-brand img{
        width: 50px;
    }
    .container {
        left: 50%;
        transform: translateX(-50%);
    }
}


// WE FUTURE SECTION
.we-future {
    margin-top: 238px;
    margin-bottom: 238px;

    .header {
        text-align: center;
        .display-4 {
            position: relative;

            &::after {
                @include header()
            }
        }
        .lead {
            width: 515px;
            height: 55px;
            margin: 96px auto 122px auto;
            font-size: 1.1rem;
        }
    }
    .icons {
        max-width: 1274px;
        text-align: center;
        .icon {
            margin: 55px auto;
        }
    }
    .see-more {
        margin-top: 121px;
        .col {
            display: inline-block;
            text-align: center;

            a {
                text-decoration: none;
                color: #000;
                img {
                    font-size: 12px;
                    margin-left: 22px;
                }
            }
        }
    }
}


// INTRO SECTION
.intro {
    margin-top: 185px;
    margin-bottom: 165px;

    .header {
        text-align: center;
        .display-4 {
            position: relative;

            &::after {
                @include header()
            }
        }
        .lead {
            margin: 74px auto;
            font-size: 1.1rem;
        }
    }
    .col {
        display: flex;
        align-items: center;
        padding: 0 50px;
        a {
            text-decoration: none;
            color: #000;
            margin-left: 65px;
            img {
                font-size: 12px;
                margin-left: 22px;  
            }
        }
    }
}

.vehicles {
    .card {
        box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .btn-outline-dark {
        border: none;

        &:hover {
            background-color: $gray-500;
        }
    }
    .card-text {
        font-size: 2.5rem;
        color: $gray-600;
    }
    small {
        background-color: $gray-900;
        color: $white;
        width: 100px;
        height: 40px;
        position: absolute;
        left: 0;
        text-align: center;
        padding-top: 10px;
        border-top-left-radius: 20px;
    }
}
// FINANCING & INSURANCE
.f-i {
    margin-top: 134PX;
    margin-bottom: 198px;
    
    p {
        line-height: 2;
    }
    img {
        clip-path: polygon(35% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
}
.subscription {
    margin-bottom: 180px;
    .form-control {
        border: 1px solid #000 !important;
        border-radius: 0;
        &:focus {
            box-shadow: 1px 1px 3px #333;
        }
    }
}

footer {
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $gray-600;
        }
    }
    #inputGroupSelect01 {
        border-radius: 0;
        width: 237px;
        text-overflow: ellipsis;
    }
    .term-condition {
        border-top: 1px solid $gray-600;
        
    }
}

