@use "custom";
/* 
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 4,
  ); 
$grid-gutter-width: 4.35rem;
$gutters: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    );
    $gutters: $spacers;
    $grid-row-columns: 6; */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.carousel .carousel-inner img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .carousel-inner img .carousel-item {
  width: 50%;
  height: 1100px;
}

.carousel .carousel-indicators {
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel .carousel-indicators button {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.navbar {
  z-index: 100;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .container {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar .container .navbar-collapse .nav-link {
  position: relative;
}

.navbar .container .navbar-collapse .nav-link .counter {
  color: #f0f8ff;
  font-size: 12px;
  position: absolute;
  left: 0px;
  bottom: 25px;
}

.we-future {
  margin-top: 238px;
  margin-bottom: 238px;
}

.we-future .header {
  text-align: center;
}

.we-future .header .display-4 {
  position: relative;
}

.we-future .header .display-4::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
  height: 20px;
  width: 515px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.we-future .header .lead {
  width: 515px;
  height: 55px;
  margin: 96px auto 122px auto;
  font-size: 1.1rem;
}

.we-future .icons {
  max-width: 1274px;
  text-align: center;
}

.we-future .icons .icon {
  margin: 55px auto;
}

.we-future .see-more {
  margin-top: 121px;
}

.we-future .see-more .col {
  display: inline-block;
  text-align: center;
}

.we-future .see-more .col a {
  text-decoration: none;
  color: #000;
}

.we-future .see-more .col a img {
  font-size: 12px;
  margin-left: 22px;
}

.intro {
  margin-top: 185px;
  margin-bottom: 165px;
}

.intro .header {
  text-align: center;
}

.intro .header .display-4 {
  position: relative;
}

.intro .header .display-4::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
  height: 20px;
  width: 515px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro .header .lead {
  margin: 74px auto;
  font-size: 1.1rem;
}

.intro .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

.intro .col a {
  text-decoration: none;
  color: #000;
  margin-left: 65px;
}

.intro .col a img {
  font-size: 12px;
  margin-left: 22px;
}

.vehicles .card {
  -webkit-box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.vehicles .btn-outline-dark {
  border: none;
}

.vehicles .btn-outline-dark:hover {
  background-color: #adb5bd;
}

.vehicles .card-text {
  font-size: 2.5rem;
  color: #6c757d;
}

.vehicles small {
  background-color: #212529;
  color: #fff;
  width: 100px;
  height: 40px;
  position: absolute;
  left: 0;
  text-align: center;
  padding-top: 10px;
  border-top-left-radius: 20px;
}

.f-i {
  margin-top: 134PX;
  margin-bottom: 198px;
}

.f-i p {
  line-height: 2;
}

.f-i img {
  -webkit-clip-path: polygon(35% 0%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(35% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.subscription {
  margin-bottom: 180px;
}

.subscription .form-control {
  border: 1px solid #000 !important;
  border-radius: 0;
}

.subscription .form-control:focus {
  -webkit-box-shadow: 1px 1px 3px #333;
          box-shadow: 1px 1px 3px #333;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #6c757d;
}

footer #inputGroupSelect01 {
  border-radius: 0;
  width: 237px;
  text-overflow: ellipsis;
}

footer .term-condition {
  border-top: 1px solid #6c757d;
}
/*# sourceMappingURL=main.css.map */